<p id="notice"><%= notice %></p>

<p>
  <b>Full name:</b>
  <%= @user.full_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<div id="messages">
  <%= link_to "Show Messages", user_messages_path, :id => @user.id, :remote => true %>
</div>

<br />

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
